/* Top-right horizontal nav */
nav {
    position: fixed;       /* sticks when scrolling */
    top: 0;                 /* top of page */
    right: 0;
    width: 100%;            /* full width so spacing works */
    display: flex;
    justify-content: flex-end; /* align links to right */
    padding: 5px 30px;
    background-color: #FFF0F5; /* same as page background */
    z-index: 1000;
}

/* Nav links */
.nav-link {
    background-color: #C0DBEA; /* link background */
    padding: 10px 15px;
    border-radius: 30px;
    margin-left: 15px;       /* spacing between links */
    transition: all 0.2s linear;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.nav-link:hover {
    background-color: #fbaabe;
    color: #fff;
}

.nav-link-active {
    background-color: #fb7395;
    color: #fff;
}
